@model IEnumerable<UtilityPaymentSystem.Domain.Entities.Payment>

<h1>Historial de Pagos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Id</td>
                <td>@payment.Name</td>
                <td>@payment.Amount.ToString("C")</td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@payment.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@payment.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@payment.Id" class="btn btn-danger">Eliminar</a>
                </td>

                
            </tr>
        }
    </tbody>
</table>
<a href="/Payment/Create" class="btn btn-primary">Crear Nuevo Pago</a>
